.index__all_content {
    #height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 30px;
}

.index__only_menu {
    margin-top: 100px;
}

.menu-for-index__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-for-index__heading {
    margin-bottom: 10px;

    color: #000;

    font-family: "Cousine-Bold";
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.menu-for-index__button {
    color: #000;

    font-family: "Cousine-Bold";
    font-size: 14px;
    font-weight: 700;
    line-height: normal;

    width: 210px;
    height: 40px;

    background: #F8F8F8FF;
    border: 1px solid #000000;
    border-radius: 0 40px 0 40px;
    margin-bottom: 3px;

    cursor: pointer;

    transition: 500ms;
}

.menu-for-index__button:hover {
    color: white;
    background: #91b90a;
    border: none;
}

.index__only_content {

}

.index__only_content__title {
    color: #91b90a;
    font-family: "Cousine-BoldItalic";
    font-size: 30px;
    font-weight: 700;
    line-height: normal;

    text-align: center;
}

.content-for-index__grid_for_product_card {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    margin-top: 50px;
    margin-bottom: 150px;
}

.content-for-index__product_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 10px;

    --box-shadow:
		0 16px 24px 2px rgba(33,37,41,.04),
		0 6px 30px 5px rgba(33,37,41,.08),
		0 8px 10px -5px rgba(33,37,41,.3);
    box-shadow: var(--box-shadow);

    background-color: white;

    width: 320px;
    height: 470px;
}

.content-for-index__product_card__img__links {
    text-decoration: none;
}

.content-for-index__product_card__img {
    width: 200px;
    height: 200px;

    margin-top: 3px;
}

.content-for-index___container_for_product_card__title {
    width: 250px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.content-for-index___container_for_product_card__title__links {
    text-decoration: none;
    color: inherit;
    transition: 500ms;
}

.content-for-index__product_card__title {
    color: #000;
    font-family: "Cousine-Bold";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.content-for-index__product_card__title:hover {
    color: #91b90a;
}

.content-for-index__container_for_product_card__description {
    width: 300px;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: center;

    margin-bottom: 5px;
}

.content-for-index__product_card__description {
    color: #000;
    font-family: "Cousine-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    opacity: 0.7;
}


.index__only_content__container_for_not_content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 1010px;
}

.index__only_content__not_content {
    color: #91b90a;
    font-family: "Cousine-Bold";
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
}
