.content-for-сontacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-for-сontacts__title {
    color: #7eb651;
    font-family: "Cousine-Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: normal;

    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper-for-content-for-сontacts__img {
      border-radius: 50%;
      overflow: hidden;
      width: 350px;
      height: 350px;
}

.content-for-сontacts__img {
      width:100%;
      height:100%;
      object-fit: cover;
}

.content-for-сontacts__text {
    color: #000000;
    font-family: "Cousine-Regular";
    font-size: 25px;
    font-weight: 400;
    line-height: normal;

    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
